{% extends 'base.html' %}

{% block content %}

<h1> {{ cats }}</h1>


{% if category_posts %}
   <ul>
        {% for post in category_posts %}
            <li>
                <a href="{% url 'postdetailed' post.pk %}">{{ post.title }}</a> - {{ post.author }} - {{ post.date_posted }}
                
                {% if user.is_authenticated %} - 
                    <small><a href="{% url 'editpost' post.pk %}">Edit</a></small> - 
                    <small><a href="{% url 'deletepost' post.pk %}">Delete</a></small>
                {% endif %}

                <br>
                {{ post.body|slice:":200" }}
            </li>
        {% endfor %}
    </ul> 
{% else %}
    <h5>Sorry, no posts with category {{ cats }} exist...</h5>
{% endif %}
    
    



{% endblock %}