{% extends 'base.html' %}

{% block title %} {{ post.title_tag }} {% endblock %}

{% block content %}

    <h1>{{ post.title }}</h1>
    <small>
        By: {{ post.author }}
        <br> 
        Date Posted: {{ post.date_posted }} 
        <br>
        {% if user.is_authenticated and user == post.author %}
            <a href="{% url 'editpost' post.pk %}">Edit</a> - 
            <a href="{% url 'deletepost' post.pk %}">Delete</a>
        {% endif %}
    </small> 
    <hr>

    <p>{{ post.body }}</p>

    <br>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

{% endblock %}

